*{
	
	margin: 0;
	padding: 0;
	line-height: 150%;
}

.img-titulo{
	margin: 20px 20px;
}
body{

		background: #E5E5E5;
		margin: 0; 
		padding: 0;
}
	
button{
		
		border-color: #FFFFFF;
		border-radius: 100px;
	}



	.main{
		/*Permite cambiar los elementos de la pantalla, empezar manipulación de los elementos*/
		display: flex;
	
	}


	.mensajeOriginal{
		position: relative;
		right: 40px;
	
	}

	.mensajeEncriptado{
		position: relative;
		left:150px;
		bottom: 470px;
		
	}

	.primeraSeccion{
		/* background-color: rebeccapurple; */
		position: relative;
		top: 40px;
		left: 110px;
		
	}

	
	.segundaSeccion{

		/* background-color: lightgreen; */
		position: relative;
		margin-left: 800px;
		
			
	}
	

	.muneco_completo{
		position: relative; 
		right: 170px;
		bottom: 550px;
		
	}

	.btnCopiar{
		position: relative; 
		right: 330px;
		bottom: 500px;
	}

	.ingrese_texto{
		position: relative;
		bottom: 450px;
		right: 10px;

	}


	.primerSeccionComplementos{
		position: relative;
		right: 20px;
		height: 50%;
	}

	.botones{

		position: relative;
		right: 10px;

	}

	.btnEncriptar{
		background-color: lightseagreen; /* Green */
		border: none;
		color: white;
		padding: 5px 5px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
	}

	.btnDesencriptar{
		background-color: lightslategray; /* Green */
		border: none;
		color: white;
		padding: 5px 5px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
	}

	.btnCopiar{
		background-color: lightslategray; /* Green */
		border: none;
		color: white;
		padding: 5px 5px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
	}